body {
    font-family: helvetica, verdana, tahoma, sans;
    text-align: center;
}

table {
    margin: 0 auto;
    width: auto;
    background: #d3d3d3;
}

table td {
    padding: 2px 10px;
    background: #ffffff;
}

table th {
    padding: 2px 10px;
    background: #a3a3a3;
    cursor: pointer; 
}

.positive {
    color: #00aa00;
}

.negative {
    font-weight: bold;
    color: #aa0000;
}

.ears {
    margin-right: 5px;
}

#graph {
    margin: 10px auto 0;
    width: 810px;
}
/*
@font-face {
  font-family: "Sketchetik Light";
  src: url("fonts/Sketchetik-Light.otf");
}

h1 {
    font-family: "Sketchetik Light", sans, Helvetica, Verdana;
    font-size: 6em;
    margin-bottom: 0.1em;
}
*/
a.jpegg {
    display: block;
    float: left;

    width: 276px;
    height: 208px;
    margin: 1px;
    padding: 10px;
    padding-top:18px;

    background-color: #DDD;
}

a.jpegg div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}

#colleggtion {
    max-width: 900px;
    margin:auto;
}

a.jpegg:hover {

}


a.jpegg div img {
    border: 0;
}

