div#wrapper {

}

h1, h2, h3, p, li {
    width: 800px;
}

svg {
    float: left;
    margin-bottom: 10px;
}

#loading img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    z-index: 9999;
}

.district {
    stroke: white;
}

.district.district_toggled {
    fill: black;
}

.crime_textbox {
    cursor: default;
}

.crime_textbox rect {
    fill: #c6fcff;
}

.crime_menu {
    float: left;
    margin: 0px;
}

p.explain {
    float: left;
    margin-left: 50px;
    margin-top: 0;
    font-style: italic;
}

.crime_menu li {
    width: auto;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    border: 1px solid grey; 
    cursor: pointer;
}

.crime_menu li.clear_all, .crime_menu li.show_all {
    display: block;
    text-align: center;
}

.toggle_0 {
    box-shadow: 3px 3px 1px grey;
}

.toggle_1 {
    box-shadow: 0px 0px 1px grey;
}

.chosen_crime_point {
    stroke: white;
    stroke-width: 3px;
}

.d3-slider {
    clear: both;
}
