body {
    margin: 0;
    overflow: hidden;
}

#loading {
    position: absolute;

    top: 50%;
    height: 266px;
    margin-top: -133px;

    left: 50%;
    width: 266px;
    margin-left: -133px;
}

.node {
    cursor: pointer;
}

.node:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 5px #FF8484);
    filter: drop-shadow(0px 0px 5px #FF8484);
}

.label {
    stroke: black;
    
    cursor: default;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
