svg {
    float: left;
    margin-bottom: 10px;
}


.node:hover {
    cursor : pointer;
    -webkit-filter: drop-shadow( 0px 0px 5px #FF8484 );
            filter: drop-shadow( 0px 0px 5px #FF8484 );

}
