body {
    overflow: hidden;
}

#composite {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

#composite .axis path, #composite .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

#parts {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#parts p {
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}

#parts div {
    float: left;
    margin: 15px;
    padding: 2px 5px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,1);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,1);
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#parts div.clicked {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
}

#parts svg {
    border-width: 1px;
    border-color: white;
    border-style: solid;
}

#parts svg line {
    stroke: black;
    stroke-width: 1px;
}
