Source: bsdgames
Section: games
Priority: optional
Build-Depends: debhelper (>= 9), libncurses5-dev, flex, bison,
 wamerican, wbritish
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders: Dr. Tobias Quathamer <toddy@debian.org>
Standards-Version: 3.9.7
Vcs-Git: https://anonscm.debian.org/git/pkg-games/bsdgames.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-games/bsdgames.git

Package: bsdgames
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, wamerican | wordlist
Provides: adventure
Description: collection of classic textual unix games
 This is a collection of some of the text-based games and amusements that
 have been enjoyed for decades on unix systems.
 .
 It includes these programs: adventure, arithmetic, atc, backgammon,
 battlestar, bcd, boggle, caesar, canfield, countmail, cribbage, dab,
 go-fish, gomoku, hack, hangman, hunt, mille, monop, morse, number,
 pig, phantasia, pom, ppt, primes, quiz, random, rain, robots, rot13,
 sail, snake, tetris, trek, wargames, worm, worms, wump, wtf
